extends ../../layouts/default.pug
include ../../mixins/section3.pug
include ../../mixins/product-item.pug 

block main
    //khai b├Аo data d├╣ng mixin product-item
    -
        var pets = [
            {
                images:'https://chillaxrestaurant.co.nz/wp-content/uploads/2023/09/coffee-brain-caffeine-neuroscincces.webp',
                id:'CF01-Cappucino',
                orgin:'American',
                year: '2024',
                price:'4.000.000'
            },
            {
                images:'https://lifeboostcoffee.com/cdn/shop/articles/1445732_Highelevationcoffeebeans_NoLogo_SteamingCupOfCoffee4_090222.jpg?v=1664805147',
                id:'CF01-Cappucino',
                orgin:'American',
                year: '2024',
                price:'4.000.000'
            },
            {
                images:'https://hips.hearstapps.com/hmg-prod/images/dalgona-coffee-a-trendy-fluffy-creamy-whipped-royalty-free-image-1608301380.',
                id:'CF01-Cappucino',
                orgin:'American',
                year: '2024',
                price:'4.000.000'
            },
            {
                images:'https://i.pinimg.com/originals/de/f6/25/def6256dd843a72f7ab758358cf57f2d.jpg',
                id:'CF01-Cappucino',
                orgin:'American',
                year: '2024',
                price:'4.000.000'
            },
            {
                images:'https://www.shutterstock.com/image-photo/still-life-photography-hot-coffee-260nw-298821158.jpg',
                id:'CF01-Cappucino',
                orgin:'American',
                year: '2024',
                price:'4.000.000'
            },
            {
                images:'https://live.staticflickr.com/65535/53681260520_cd7288f9bc_k.jpg',
                id:'CF01-Cappucino',
                orgin:'American',
                year: '2024',
                price:'4.000.000'
            },
            {
                images:'https://static.toiimg.com/thumb/88316599.cms?imgsize=63826&width=800&height=800',
                id:'CF01-Cappucino',
                orgin:'American',
                year: '2024',
                price:'4.000.000'
            },
            {
                images:'assets/image/blog-3.jpeg',
                id:'CF01-Cappucino',
                orgin:'American',
                year: '2024',
                price:'4.000.000'
            }
        ];
    
    //section 1
    div(class="section-1")
        div(class="container")
            div(class="section-1__wrap")
                img(src="/image/bg4.svg" class="section-1__bg4" alt="")
                div(class="section-1__content")
                    img(src="/image/bg1.svg" data-aos="zoom-in" data-aos-duration="3000" class="section-1__bg1" alt=" ")
                    h1(class="section-1__title") MANG <br> Hк»каNG Vр╗і<br> Tк»каI TRр║║ Mр╗џI Mр║║ 
                    h2(class="section-1__sub-title") AMERICA / VIETNAM / PERU
                    p(class="section-1__desc") The passage experienced a surge in popularity during the 1960s when used
                    div(class="section-1__button")
                        a(href="#" class="btn btn--outline") Giр╗Џi thiр╗Єu 
                            i(class="fa-regular fa-circle-play")
                        a(href="#" class="btn") Lр╗▒a Chр╗Їn
                    img(src="/image/bg2.svg" class="section-1__bg2" alt="")
                div(class="section-1__img")
                    img(class="section-1__img-main" data-aos="zoom-in-up" src="/image/image-coffee.png" alt="")
                    img(class="section-1__bg3" data-aos="zoom-in-up" src="/image/bg3.svg" alt="")
    //End section 1        

    //section 2
    div(class="section-2")
        div(class="container")
            div(class="box-head")
                div(class="box-head__left")
                    div(class="box-head__sub-title") What's new?
                    h2(class="box-head__title") Best coffee for you
                div(class="box-head__right")
                    a(href="#" class="btn btn--outline") more 
                        i(class="fa-solid fa-angle-right")
            div(class="section-2__wrap")
                each item in productFeatured
                    +product-item(
                        item.thumbnail,
                        item.id,
                        item.origin,
                        item.year,
                        item.price,
                        item.title,
                        item.slug
                    )
            div(class="section-2__bottom-button")
                a(href="#" class="btn btn--outline")
                    | more
                    i(class="fa-solid fa-angle-right")
    //End section 2  

    //section 3
    +section-3()
    //End section 3

    //section 4
    div(class="section-4")
        div(class="container")
            div(class="box-head")
                div(class="box-head__left")
                    div(class="box-head__sub-title") Could you know?
                    h3(class="box-head__title") Useful knowledges of coffee
                div(class="box-head__right")
                    a(href="#" class="btn btn--outline") More 
                        i(class="fa-solid fa-angle-right")
            div(class="section-4__wrap")
                div(class="section-4__item" data-aos="zoom-in-left")
                    div(class="section-4__img")
                        img(loading="lazy" src="https://images.squarespace-cdn.com/content/v1/5ef32b34629ad57785c5476a/1611305365698-MYHZ1P66OM2KZC2F8836/image.jpg?format=2500w" class="" alt="")
                    div(class="section-4__content")
                        div(class="section-4__tag") Useful knowledges of coffee
                        h3(class="section-4__title")
                            a(href="#") what makes delicious cup of coffee?
                        div(class="section-4__desc") ­ЮўЏ­ЮўЕ­Юўд ­ЮўЦ­Юўд­ЮўД­Юўф­Юў»­Юўф­Юўх­Юўф­Юў░­Юў» ­Юў░­ЮўД ­Юўб ­ЮўЦ­Юўд­ЮўГ­Юўф­Юўц­Юўф­Юў░­ЮўХ­Юў┤ ­Юўц­ЮўХ­Юў▒ ­Юў░­ЮўД ­Юўц­Юў░­ЮўД­ЮўД­Юўд­Юўд ­ЮўИ­Юўф­ЮўГ­ЮўГ ­Юў▒­Юў│­Юў░­ЮўБ­Юўб­ЮўБ­ЮўГ­Юў║ ­Юў»­Юў░­Юўх ­Юўх­ЮўЕ­Юўд ­Юў┤­Юўб­Юў«­Юўд ­ЮўД­Юў│­Юў░­Юў« ­Юў▒­Юўд­Юў│­Юў┤­Юў░­Юў» ­Юўх­Юў░ ­Юў▒­Юўд­Юў│­Юў┤­Юў░­Юў», ­ЮўБ­ЮўХ­Юўх ­Юў«­Юў░­Юў┤­Юўх ­Юў▒­Юўд­Юў░­Юў▒­ЮўГ­Юўд ­ЮўИ­Юўф­ЮўГ­ЮўГ ­Юўб­Юўе­Юў│­Юўд­Юўд ­Юўх­ЮўЕ­Юўб­Юўх ­Юўф­Юўх ­Юўф­Юў┤ ­Юў»­Юў░­Юўх ­Юўб ­Юў┤­Юўф­Юў«­Юў▒­ЮўГ­Юўд ­Юўх­Юўб­Юў┤­Юўг. ­ЮўЏ­ЮўЕ­Юўд ­Юў▒­Юў│­Юўф­Юў»­Юўц­Юўф­Юў▒­ЮўГ­Юўд ­Юў░­ЮўД ­Юў«­Юўб­Юўг­Юўф­Юў»­Юўе ­Юўц­Юў░­ЮўД­ЮўД­Юўд­Юўд ­Юўб­Юў│­Юўд ­Юўб­Юўц­Юўх­ЮўХ­Юўб­ЮўГ­ЮўГ­Юў║ ­Юў┤­Юўф­Юў«­Юў▒­ЮўГ­Юўд, ­ЮўХ­Юў┤­Юўф­Юў»­Юўе ­ЮўИ­Юўб­Юўх­Юўд­Юў│ ­Юўх­Юў░ ­ЮўБ­Юў│­Юўф­Юў»­Юўе ­Юў░­ЮўХ­Юўх ­Юўх­ЮўЕ­Юўд ­ЮўЕ­Юўф­ЮўЦ­ЮўЦ­Юўд­Юў» ­ЮўД­ЮўГ­Юўб­Юўи­Юў░­Юў│­Юў┤ ­ЮўД­Юў│­Юў░­Юў« ­Юўх­ЮўЕ­Юўд ­ЮўБ­Юўд­Юўб­Юў»­Юў┤. ­ЮўЏ­ЮўЕ­Юўд ­ЮўЦ­Юўф­ЮўД­ЮўД­Юўф­Юўц­ЮўХ­ЮўГ­Юўх ­Юў▒­Юўб­Юў│­Юўх ­Юў░­ЮўД ­Юў«­Юўб­Юўг­Юўф­Юў»­Юўе ­Юўб ­ЮўЦ­Юўд­ЮўГ­Юўф­Юўц­Юўф­Юў░­ЮўХ­Юў┤ ­Юўц­ЮўХ­Юў▒ ­Юўф­Юў┤ ­Юўх­ЮўЕ­Юўб­Юўх ­ЮўБ­Юўб­Юў│­Юўф­Юў┤­Юўх­Юўб­Юў┤ ­Юў«­ЮўХ­Юў┤­Юўх ­Юў│­Юўд­Юўб­ЮўГ­ЮўГ­Юў║ ­ЮўХ­Юў»­ЮўЦ­Юўд­Юў│­Юў┤­Юўх­Юўб­Юў»­ЮўЦ ­Юўх­ЮўЕ­Юўд ­Юўц­Юў░­ЮўД­ЮўД­Юўд­Юўд ­ЮўБ­Юўд­Юўб­Юў»­Юў┤, ­ЮўЦ­Юўф­ЮўГ­Юўф­Юўе­Юўд­Юў»­Юўх­ЮўГ­Юў║ ­Юў▒­Юў│­Юўб­Юўц­Юўх­Юўф­Юўц­Юўд ­Юўх­ЮўЕ­Юўд­Юўф­Юў│ ­Юўц­Юў│­Юўб­ЮўД­Юўх ­Юўх­Юў░ ­Юўе­Юўд­Юўх ­Юўх­ЮўЕ­Юўд ­ЮўБ­Юўд­Юў┤­Юўх ­Юўх­Юўб­Юў┤­Юўх­Юўд ­Юў░­ЮўД ­Юўд­Юўи­Юўд­Юў│­Юў║ ­Юўц­ЮўХ­Юў▒.
                div(class="section-4__item" data-aos="zoom-in")
                    div(class="section-4__img")
                        img(loading="lazy" src="https://images.squarespace-cdn.com/content/v1/5ef32b34629ad57785c5476a/1611305365698-MYHZ1P66OM2KZC2F8836/image.jpg?format=2500w" class="" alt="")
                    div(class="section-4__content")
                        div(class="section-4__tag") Useful knowledges of coffee
                        h3(class="section-4__title")
                            a(href="#") what makes delicious cup of coffee?
                        div(class="section-4__desc") ­ЮўЏ­ЮўЕ­Юўд ­ЮўЦ­Юўд­ЮўД­Юўф­Юў»­Юўф­Юўх­Юўф­Юў░­Юў» ­Юў░­ЮўД ­Юўб ­ЮўЦ­Юўд­ЮўГ­Юўф­Юўц­Юўф­Юў░­ЮўХ­Юў┤ ­Юўц­ЮўХ­Юў▒ ­Юў░­ЮўД ­Юўц­Юў░­ЮўД­ЮўД­Юўд­Юўд ­ЮўИ­Юўф­ЮўГ­ЮўГ ­Юў▒­Юў│­Юў░­ЮўБ­Юўб­ЮўБ­ЮўГ­Юў║ ­Юў»­Юў░­Юўх ­Юўх­ЮўЕ­Юўд ­Юў┤­Юўб­Юў«­Юўд ­ЮўД­Юў│­Юў░­Юў« ­Юў▒­Юўд­Юў│­Юў┤­Юў░­Юў» ­Юўх­Юў░ ­Юў▒­Юўд­Юў│­Юў┤­Юў░­Юў», ­ЮўБ­ЮўХ­Юўх ­Юў«­Юў░­Юў┤­Юўх ­Юў▒­Юўд­Юў░­Юў▒­ЮўГ­Юўд ­ЮўИ­Юўф­ЮўГ­ЮўГ ­Юўб­Юўе­Юў│­Юўд­Юўд ­Юўх­ЮўЕ­Юўб­Юўх ­Юўф­Юўх ­Юўф­Юў┤ ­Юў»­Юў░­Юўх ­Юўб ­Юў┤­Юўф­Юў«­Юў▒­ЮўГ­Юўд ­Юўх­Юўб­Юў┤­Юўг. ­ЮўЏ­ЮўЕ­Юўд ­Юў▒­Юў│­Юўф­Юў»­Юўц­Юўф­Юў▒­ЮўГ­Юўд ­Юў░­ЮўД ­Юў«­Юўб­Юўг­Юўф­Юў»­Юўе ­Юўц­Юў░­ЮўД­ЮўД­Юўд­Юўд ­Юўб­Юў│­Юўд ­Юўб­Юўц­Юўх­ЮўХ­Юўб­ЮўГ­ЮўГ­Юў║ ­Юў┤­Юўф­Юў«­Юў▒­ЮўГ­Юўд, ­ЮўХ­Юў┤­Юўф­Юў»­Юўе ­ЮўИ­Юўб­Юўх­Юўд­Юў│ ­Юўх­Юў░ ­ЮўБ­Юў│­Юўф­Юў»­Юўе ­Юў░­ЮўХ­Юўх ­Юўх­ЮўЕ­Юўд ­ЮўЕ­Юўф­ЮўЦ­ЮўЦ­Юўд­Юў» ­ЮўД­ЮўГ­Юўб­Юўи­Юў░­Юў│­Юў┤ ­ЮўД­Юў│­Юў░­Юў« ­Юўх­ЮўЕ­Юўд ­ЮўБ­Юўд­Юўб­Юў»­Юў┤. ­ЮўЏ­ЮўЕ­Юўд ­ЮўЦ­Юўф­ЮўД­ЮўД­Юўф­Юўц­ЮўХ­ЮўГ­Юўх ­Юў▒­Юўб­Юў│­Юўх ­Юў░­ЮўД ­Юў«­Юўб­Юўг­Юўф­Юў»­Юўе ­Юўб ­ЮўЦ­Юўд­ЮўГ­Юўф­Юўц­Юўф­Юў░­ЮўХ­Юў┤ ­Юўц­ЮўХ­Юў▒ ­Юўф­Юў┤ ­Юўх­ЮўЕ­Юўб­Юўх ­ЮўБ­Юўб­Юў│­Юўф­Юў┤­Юўх­Юўб­Юў┤ ­Юў«­ЮўХ­Юў┤­Юўх ­Юў│­Юўд­Юўб­ЮўГ­ЮўГ­Юў║ ­ЮўХ­Юў»­ЮўЦ­Юўд­Юў│­Юў┤­Юўх­Юўб­Юў»­ЮўЦ ­Юўх­ЮўЕ­Юўд ­Юўц­Юў░­ЮўД­ЮўД­Юўд­Юўд ­ЮўБ­Юўд­Юўб­Юў»­Юў┤, ­ЮўЦ­Юўф­ЮўГ­Юўф­Юўе­Юўд­Юў»­Юўх­ЮўГ­Юў║ ­Юў▒­Юў│­Юўб­Юўц­Юўх­Юўф­Юўц­Юўд ­Юўх­ЮўЕ­Юўд­Юўф­Юў│ ­Юўц­Юў│­Юўб­ЮўД­Юўх ­Юўх­Юў░ ­Юўе­Юўд­Юўх ­Юўх­ЮўЕ­Юўд ­ЮўБ­Юўд­Юў┤­Юўх ­Юўх­Юўб­Юў┤­Юўх­Юўд ­Юў░­ЮўД ­Юўд­Юўи­Юўд­Юў│­Юў║ ­Юўц­ЮўХ­Юў▒.
                div(class="section-4__item" data-aos="zoom-in-right")
                    div(class="section-4__img")
                        img(loading="lazy" src="https://images.squarespace-cdn.com/content/v1/5ef32b34629ad57785c5476a/1611305365698-MYHZ1P66OM2KZC2F8836/image.jpg?format=2500w" class="" alt="")
                    div(class="section-4__content")
                        div(class="section-4__tag") Useful knowledges of coffee
                        h3(class="section-4__title")
                            a(href="#") what makes delicious cup of coffee?
                        div(class="section-4__desc") ­ЮўЏ­ЮўЕ­Юўд ­ЮўЦ­Юўд­ЮўД­Юўф­Юў»­Юўф­Юўх­Юўф­Юў░­Юў» ­Юў░­ЮўД ­Юўб ­ЮўЦ­Юўд­ЮўГ­Юўф­Юўц­Юўф­Юў░­ЮўХ­Юў┤ ­Юўц­ЮўХ­Юў▒ ­Юў░­ЮўД ­Юўц­Юў░­ЮўД­ЮўД­Юўд­Юўд ­ЮўИ­Юўф­ЮўГ­ЮўГ ­Юў▒­Юў│­Юў░­ЮўБ­Юўб­ЮўБ­ЮўГ­Юў║ ­Юў»­Юў░­Юўх ­Юўх­ЮўЕ­Юўд ­Юў┤­Юўб­Юў«­Юўд ­ЮўД­Юў│­Юў░­Юў« ­Юў▒­Юўд­Юў│­Юў┤­Юў░­Юў» ­Юўх­Юў░ ­Юў▒­Юўд­Юў│­Юў┤­Юў░­Юў», ­ЮўБ­ЮўХ­Юўх ­Юў«­Юў░­Юў┤­Юўх ­Юў▒­Юўд­Юў░­Юў▒­ЮўГ­Юўд ­ЮўИ­Юўф­ЮўГ­ЮўГ ­Юўб­Юўе­Юў│­Юўд­Юўд ­Юўх­ЮўЕ­Юўб­Юўх ­Юўф­Юўх ­Юўф­Юў┤ ­Юў»­Юў░­Юўх ­Юўб ­Юў┤­Юўф­Юў«­Юў▒­ЮўГ­Юўд ­Юўх­Юўб­Юў┤­Юўг. ­ЮўЏ­ЮўЕ­Юўд ­Юў▒­Юў│­Юўф­Юў»­Юўц­Юўф­Юў▒­ЮўГ­Юўд ­Юў░­ЮўД ­Юў«­Юўб­Юўг­Юўф­Юў»­Юўе ­Юўц­Юў░­ЮўД­ЮўД­Юўд­Юўд ­Юўб­Юў│­Юўд ­Юўб­Юўц­Юўх­ЮўХ­Юўб­ЮўГ­ЮўГ­Юў║ ­Юў┤­Юўф­Юў«­Юў▒­ЮўГ­Юўд, ­ЮўХ­Юў┤­Юўф­Юў»­Юўе ­ЮўИ­Юўб­Юўх­Юўд­Юў│ ­Юўх­Юў░ ­ЮўБ­Юў│­Юўф­Юў»­Юўе ­Юў░­ЮўХ­Юўх ­Юўх­ЮўЕ­Юўд ­ЮўЕ­Юўф­ЮўЦ­ЮўЦ­Юўд­Юў» ­ЮўД­ЮўГ­Юўб­Юўи­Юў░­Юў│­Юў┤ ­ЮўД­Юў│­Юў░­Юў« ­Юўх­ЮўЕ­Юўд ­ЮўБ­Юўд­Юўб­Юў»­Юў┤. ­ЮўЏ­ЮўЕ­Юўд ­ЮўЦ­Юўф­ЮўД­ЮўД­Юўф­Юўц­ЮўХ­ЮўГ­Юўх ­Юў▒­Юўб­Юў│­Юўх ­Юў░­ЮўД ­Юў«­Юўб­Юўг­Юўф­Юў»­Юўе ­Юўб ­ЮўЦ­Юўд­ЮўГ­Юўф­Юўц­Юўф­Юў░­ЮўХ­Юў┤ ­Юўц­ЮўХ­Юў▒ ­Юўф­Юў┤ ­Юўх­ЮўЕ­Юўб­Юўх ­ЮўБ­Юўб­Юў│­Юўф­Юў┤­Юўх­Юўб­Юў┤ ­Юў«­ЮўХ­Юў┤­Юўх ­Юў│­Юўд­Юўб­ЮўГ­ЮўГ­Юў║ ­ЮўХ­Юў»­ЮўЦ­Юўд­Юў│­Юў┤­Юўх­Юўб­Юў»­ЮўЦ ­Юўх­ЮўЕ­Юўд ­Юўц­Юў░­ЮўД­ЮўД­Юўд­Юўд ­ЮўБ­Юўд­Юўб­Юў»­Юў┤, ­ЮўЦ­Юўф­ЮўГ­Юўф­Юўе­Юўд­Юў»­Юўх­ЮўГ­Юў║ ­Юў▒­Юў│­Юўб­Юўц­Юўх­Юўф­Юўц­Юўд ­Юўх­ЮўЕ­Юўд­Юўф­Юў│ ­Юўц­Юў│­Юўб­ЮўД­Юўх ­Юўх­Юў░ ­Юўе­Юўд­Юўх ­Юўх­ЮўЕ­Юўд ­ЮўБ­Юўд­Юў┤­Юўх ­Юўх­Юўб­Юў┤­Юўх­Юўд ­Юў░­ЮўД ­Юўд­Юўи­Юўд­Юў│­Юў║ ­Юўц­ЮўХ­Юў▒.
            div(class="section-4__bottom-button")
                a(href="#" class="btn btn--outline") more
                    i(class="fa-solid fa-angle-right")
    //End section 4           