
//Footer
div(class="footer")
    div(class="footer__top")
        div(class="footer__top-content") Register now to not miss our promotions
        div(class="footer__top-form")
            form(action="")
                input(type="email" placeholder="Entry your email..." name="email")
                button Register Now
    div(class="footer__middle")
        div(class="footer__middle-menu")
            a(href="/") Trang chủ
            a(href="#") Danh mục
            a(href="/article") Giới thiệu
            a(href=`#`) Liên hệ
        div(class="footer__middle-socials")
            a(href="#" target="_blank") <i class="fa-brands fa-facebook"></i>
            a(href="#" target="_blank") <i class="fa-brands fa-x-twitter"></i>
            a(href="#" target="_blank") <i class="fa-brands fa-instagram"></i>
            a(href="#" target="_blank") <i class="fa-brands fa-youtube"></i>
    div(class="footer__bottom")
        div(class="footer__bottom-copyright") #{settingGeneral.copyright}
        div(class="footer__bottom-logo")
            a(href="#")
                img(src="assets/image/logo2.png" alt="")
        div(class="footer__bottom-right")
            a(href="#") Điều khoản dịch vụ
            a(href="#") Chính sách bảo mật
//End footer
