extends ../../layouts/default.pug

block main
    div(class="introduct__top")
        img(src="https://img.freepik.com/free-photo/close-up-hands-barista-make-latte-coffee-art-paint_1150-12161.jpg?t=st=1727604954~exp=1727608554~hmac=09a8983bbbd5d9b5f4207c918258bbeb0ed8a16ad28a33544908f3b01e51f8b4&w=1800" alt="" style="width:100%;")
    div(class="introduct")
        div(class="container")
            div(class="introduct__item")
                div(class="introduct__content")
                    h2(class="introduct__box-title") Coffee Point
                    h1(class="introduct__title") Creamy
                    p(class="introduct__desc") <b>thức uống "đánh thức" năng lượng ngày mới</b> hợp cho những ai mới bước vào thế giới cà phê hoặc ghiền cà phê nhưng muốn khám phá thêm nhiều hương vị mới.
                    span(class="introduct__desc-sub") Êm mượt như mây, Tươi ngày mới ngay!
                div(class="introduct__img")
                    img(src="https://hrv.hstatic.net/s_1000266602/_creamy.png" alt="")
            div(class="introduct__item")
                div(class="introduct__img")
                    img(src="https://hrv.hstatic.net/s_1000266602/_creme-brulee.png" alt="")
                div(class="introduct__content")
                    h2(class="introduct__box-title") Coffee Point
                    h1(class="introduct__title") Creme Brulee
                    p(class="introduct__desc") <b>Thức uống "chiều chuộng bản thân" bậc nhất</b>  cho những ai thích vị ngọt ngào hay muốn thưởng thức sự kết hợp độc đáo giữa món tráng miệng và thức uống.  
                    span(class="introduct__desc-sub") Êm mượt như mây, Chill là ghiền ngay!
            h1(class="introduct__title-content") Cà phê có phải dành cho tất cả mọi người ?  
            img(src="https://img.freepik.com/free-photo/coffee-machine-making-perfect-cup-coffee_23-2151699646.jpg?t=st=1727604621~exp=1727608221~hmac=af947a02095169704c5a5da18f0a30f6dca824f829d2a4e344473871f5cf6244&w=1800" alt="" style="width:100%;") 
            p(class="introduct__desc" style="text-align:center; margin-top:30px") Bạn có biết, mỗi ngày có hơn 2 tỷ cốc cà phê được uống trên toàn thế giới? Có người pha cùng sữa, có người rót thêm kem béo, hay kết hợp cùng… rượu whiskey, nhưng không phải ai cũng có thể thưởng thức cà phê một cách ngon lành. Bằng niềm khao khát mang ẩm thực thế giới vào từng ly cà phê bản địa, Edward Teonadi - Giám đốc phát triển sản phẩm tại The Coffee House đã tạo nên thế hệ cà phê mới mang tên CloudFee. Và giờ đây, bất kỳ ai ghé Nhà cũng có thể tìm thấy hương vị cà phê cho riêng mình.    
                