doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="assets/css/style.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.6/viewer.min.css")
        link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
        link(rel="stylesheet", href="/css/style_v2.css")
        title #{pageTitle}
    body          
        include ../partials/header.pug
        block main
        include ../partials/footer.pug

        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.6/viewer.min.js") 
        script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
        script(src="/js/script_v2.js")
        script(src="/js/aos.js")
        
        script(src="/socket.io/socket.io.js")
        script(src="/js/socket.js")
        script(src="/js/chat.js")

        script(src="/client/js/script.js")
        script(src="/js/script.js")


