mixin section-3()
    //section 3
    div(class="section-3")
        div(class="container")
            div(class="section-3__wrap")
                div(class="section-3__img" data-aos="fade-right" data-aos-duration="1500")
                    img(src="/image/bg5.png" class="" alt="")
                div(class="section-3__content" data-aos="fade-left" data-aos-duration="1500")
                    h2(class="section-3__title") MANG <br> HƯƠNG VỊ <br> TƯƠI TRẺ MỚI MẺ
                    h3(class="section-3__sub-title") AMERICA / VIETNAM / PERU
                    p(class="section-3__desc") Kinh nghiệm hơn 5 năm trong việc nghiên cứu những tách cà phê thơm ngon
                    div(class="section-3__button")
                        a(href="#" class="btn btn--outline") Giới thiệu 
                            i(class="fa-regular fa-circle-play")
                        a(href="#" class="btn") Lựa Chọn
    //End section 3   